<?php if ($this->previewMode): ?>

    <div class="form-control">
        <?= $value ?>
    </div>

<?php else: ?>

    <?php if (!empty($scripts)) : ?>
        <?php foreach($scripts as $script) : ?>
            <script src="<?= $script ?>"></script>
        <?php endforeach; ?>
    <?php endif; ?>

    <div
        class="editorjs-wrapper"
        data-control="editor"
        id="<?= $this->getId('input') ?>"
        data-placeholder="<?= $placeholder ?>"
        data-settings="<?= $toolSettings ?>">
        <textarea
            type="hidden"
            style="display: none"
            name="<?= $name ?>"
            id="<?= $this->getId('input') ?>_input"><?= $value ?></textarea>
    </div>

<?php endif ?>
